@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap");
body {
    font-family: "Ubuntu", sans-serif;
}


/*--Scrollbar--*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #242735;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(94.15deg, #8094FC 0%, #71A8FF 47.92%, #60BDF7 100%);
}
::-webkit-scrollbar-thumb:hover {
    background: #2f80d1;
}

/*--Navbar Section--*/

.navbar-brand {
    margin-left: 3%;
}

.navbar {
    background-color: #e2e5f8;
}

.nav-link {
    font-weight: 550;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapse {
    margin-right: 3%;
}

h1,
h2,
h3,
h4,
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
}

/*--Banner section--*/

.banner {
    position: relative;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url('assets/banner-gif.gif');
    background-size: cover;
    /*background-color: #eaedff;*/
    padding: 250px 0 200px;
    
    .btn-banner {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
    .btn-banner {
        margin: 1em 0 0;
        text-decoration: none;
        border: none;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       border-radius: 10px;
       display: inline-block;
     }

     .btn-banner:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
     }
    

    h6 {
        letter-spacing: 5px;
        font-weight: 600;
        color: #e6e6e6;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    p {
        color: #e9e9e9;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .btn-banner:hover {
        background-color: #1d2024;
        color: White;
    }
}


section {
    padding: 25px 0;
}

/*--Skills, Projects Sections--*/

.projects {
    margin-top: 5vh;
}

.card,
.project {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: none;
}

.card:hover,
.card:focus,
.project:hover,
.project:focus {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-deck {
    margin-bottom: 50px;
}

.scroll-header {
    background: #fff;
    -webkit-box-shadow: 0 3px 7px rgba(128, 128, 128, 0.3);
    box-shadow: 0 3px 7px rgba(128, 128, 128, 0.3);
}

.project {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    text-align: center;
}

.project h4 {
    margin-bottom: 20px;
}

.project p {
    margin: 40px;
    margin-top: 20px;
}

.project,
.text-column {
    margin-bottom: 25px;
}

.project img,
.text-column img {
    height: 60px;
    margin-bottom: 30px;
    width: 60px;
}

.invisible-link {
    text-decoration: none;
    color: inherit;
}

.invisible-link:hover {
    color: inherit;
    text-decoration: none;
}


/*--About Me Section--*/

#about {
    padding-top: 98px;
    padding-bottom: 101px;
    background: linear-gradient(101.86deg, #4E547C 0%, #575E8F 48.65%, #535879 100%);}

#about .triangle-right {
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
}



#about h2 {
    margin-bottom: 47px;
    margin-top: 12px;
}


#about .about-img {
    position: relative;
}


    
/*--Contact Me Section--*/

.contact-me{
    background: linear-gradient(101.86deg, #4E547C 0%, #575E8F 48.65%, #535879 100%);    padding-bottom: 20vh;
    padding-top: 10vh;
    .social-card{
        
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border: none;
        padding: 0;
        text-align: center;
        h4{
            color: white;
        }
        img{
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }  
        .twitter{
            border-radius: 5px;
            padding: 30px 20px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            border: none;
            background-color: rgb(38, 166, 209);

        }
        .mail{
            border-radius: 5px;
            padding: 30px 20px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            border: none;
            background-color: rgb(245, 88, 75);  
        }
        .github{
            border-radius: 5px;
            padding: 30px 20px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            border: none;
            background-color: rgb(0, 0, 0);  

        }   
        .anilist{
            border-radius: 5px;
            padding: 30px 20px;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            border: none;
            background-color: rgb(25, 33, 46);  

        }  
    }
    .social-card:hover,
    .social-card:focus {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
           
    }
    @media (max-width: 990px) {
        .social-card{
            margin: 20px;
        }        
    }
}


/*-- Footer --*/

footer {
    margin-top: 20vh;
}